.wrapper {
  padding: 4rem 1.5rem 0 1.5rem;
  max-width: 50rem;

  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 1.5rem;
}

.header {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.createTask {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.createTask strong {
  color: var(--blue-300);
}

.doneTasks {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.doneTasks > span {
  color: var(--purple-300);
}

.badge {
  padding: 0.125rem 0.5rem;
  background-color: var(--gray-400);
  border-radius: 999px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.badge strong {
  color: var(--gray-100);
  font-size: 0.75rem;
}
